# Template .env
# INSTRUÇÕES: 
# 1. Faz uma cópia deste ficheiro.
# 2. Renomeia a cópia para ".env" (sem aspas).
# 3. Altera os valores abaixo conforme necessário.

ENVIRONMENT=Development

# PORTAS DO SISTEMA (Altera se houver conflitos no PC)
PORT_DASHBOARD=8081
PORT_SERVER_TCP=5001
PORT_RABBITMQ=5672
PORT_RABBITMQ_WEB=15672
PORT_PYTHON_PRE=50051
PORT_PYTHON_ANALY=50052

# CREDENCIAIS
# Em ambiente local (Development) podes deixar como 'guest'
# Em Produção, mudar obrigatoriamente para credenciais seguras
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# LIGAÇÃO GATEWAY -> SERVIDOR
# Em ambiente local (Development): csharp-server
# Em Produção (Cloud): Coloca o IP público do servidor
SERVER_IP=csharp-server
SERVER_PORT=5001

# VARIÁVEIS INTERNAS (Não alterar a menos que saibas o que fazes)
PYTHONUNBUFFERED=1
RABBITMQ_HOST=rabbitmq
DB_PATH=/app/data/urbanhealth_central.db
ANALYSIS_RPC_URL=http://python-analysis:50052
PREPROCESS_RPC_URL=http://python-preprocess:50051